/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    @include box-sizing( border-box );
    border: 0;
    margin: 0;
    padding: 0;
}

.loading {
    visibility: hidden !important;
}
.stwrapper {
    height: 50%;
}
.hide {
    display: none;
}
.button {
    cursor: pointer;
}
.js .loading div {
    display: none;
}
.clearfix {
    @include clearfix();
}
.strike {
    text-decoration: line-through;
}
.msie {
    body {
        line-height: 150%;

        div.popup {
            &.big {
                background-image: url("../images/misc/masq.png");
            }
        }
        .blocks a.learn {
            line-height: 9px;
            margin: 7px 3px 0 0;
            z-index: 3;
        }
        .vjs-fullscreen-control {
            display: none;
        }
    }
}
.speakers {
    margin-top: -1em;
    &, br {
        clear: both;
    }
    img, p {
        display: inline-block;
        line-height: 1.2;
        max-width: 80% !important;
        vertical-align: middle;
    }
    img {
        margin: 0.5em 0.5em 0.5em 0;
    }
}
.shrink {
    font-size: 8pt;
    line-height: 1.2;
    max-width: 90%;
}

a.external {
    margin-left: 2px;
    // CHEVRON
    &:after {
        background-image: url(../images/misc/link_icon.gif);
        content: '';
        display: inline-block;
        height: 13px;
        margin-left: 2px;
        vertical-align: middle;
        width: 13px;
    }
}
.headshot, .landshot {
    float: left;
    width: 128px; height: 96px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#stickyBar {
    @include transition( all .3s );
    bottom: 45%;
    left: 0;
    margin-left: -12px;
    padding: 0.5em;
    position: fixed;
    z-index: 4;

    &:hover {
        margin-left: -0.6em;
    }
    td {
        background-color: gray;
        border-radius: 0 3px 3px 0;
        box-shadow: 0 0 0.125em black;
        height: 3em;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 2em;
        &:hover {
            box-shadow: 0 0 0.25em black;
            width: 3em;
            z-index: 1;
        }
    }
    ul.socialcount {
        margin: 0.1em;
        li {
            background: none;
            margin: 3px;
        }
        a {
            border-radius: 3px;
            height: 2.3em;
            padding: 0;
            &:hover {
                background-color: #777777;
                width: 2.5em;
            }
        }
    }
}