/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    @include box-sizing( border-box );
    border: 0;
    margin: 0;
    padding: 0;
}

.loading {
    visibility: hidden !important;
}
.stwrapper {
    height: 50%;
}
.hide {
    display: none;
}
.button {
    cursor: pointer;
}
.js .loading div {
    display: none;
}
.clearfix {
    @include clearfix();
}
.strike {
    text-decoration: line-through;
}
.msie {
    body {
        line-height: 150%;

        div.popup {
            &.big {
                background-image: url("../images/misc/masq.png");
            }
        }
        .blocks a.learn {
            line-height: 9px;
            margin: 7px 3px 0 0;
            z-index: 3;
        }
        .vjs-fullscreen-control {
            display: none;
        }
    }
}
.speakers {
    margin-top: -1em;
    &, br {
        clear: both;
    }
    img, p {
        display: inline-block;
        line-height: 1.2;
        max-width: 80% !important;
        vertical-align: middle;
    }
    img {
        margin: 0.5em 0.5em 0.5em 0;
    }
}
.shrink {
    font-size: 8pt;
    line-height: 1.2;
    max-width: 90%;
}

a.external {
    margin-left: 2px;
    // CHEVRON
    &:after {
        background-image: url(../images/misc/link_icon.gif);
        content: '';
        display: inline-block;
        height: 13px;
        margin-left: 2px;
        vertical-align: middle;
        width: 13px;
    }
}
.headshot, .landshot {
    float: left;
    width: 128px; height: 96px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#stickyBar {
    $QB: cubic-bezier(0.46, 0.03, 0.52, 0.96);

    ul.shares {
        @include transition( all 0.2s );
        left: 0;
        line-height: 1.5em;
        margin-left: -1em;
        padding: 2em 4em 2em 0; // activation ring // border: 1px solid red;
        position: fixed;
        top: 40%;
        width: 3em;
        z-index: 4;

        * {
            @include transition( all 0.1s $QB );
            &:hover, &:focus {
                font-size: 1.2em;
            }
        }
        &:hover {
            margin-left: -0.75em;
        }
        li {
            background-color: #44464a;
            border-radius: 0 0.2em 0.2em 0;
            box-shadow: 0 0 0.125em black;
            margin: 0;
            padding: 0.25em 0.5em;
            padding-right: 0.125em;

            &:hover {
                z-index: 1;
            }
        }
        a {
            border-radius: 0.2em;
            padding: 0.2em 0em 0.2em 0.5em;

            &:hover, &:focus {
                background-color: #888;
                outline: none;
                text-shadow: -1px 1px 1px #44464a;
                &.icon-facebook { background-color: #5d6c89; }
                &.icon-googleplus { background-color: #a45f59; }
                &.icon-share { background-color: #b4a46e; }
                &.icon-twitter { background-color: #6b92ae; }
            }
        }
    }
}
