/* _ada.scss */

.shares {
    font-size: .875em;
    line-height: 2.2em;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
}
.shares :link,
.shares :visited {
    color: inherit;
}
.shares > li {
    display: inline-block;
    margin: 3px;
    min-height: 30px;
    min-width: 20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    zoom: 1;
}
.shares > li > a {
    color: inherit;
    display: block;
    text-decoration: none;
}
.shares .button {
    display: none;
    left: 0;
    line-height: 100%;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;
}
.social-icon {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.icon-sprite,
.icon-facebook,
.icon-googleplus,
.icon-pinterest,
.icon-share,
.icon-twitter {
    -moz-background-size: auto 17px;
    -o-background-size: auto 17px;
    -webkit-background-size: auto 17px;
    background-image: url(../images/buttons/share-icons.png);
    background-repeat: no-repeat;
    background-size: auto 17px;
}
.icon-facebook {
    background-position: 3px 0;
    height: 15px;
    width: 20px;
}
.icon-googleplus {
    background-position: -19px -1px;
    height: 15px;
    width: 20px;
}
.icon-pinterest {
    background-position: -45px 0;
    height: 15px;
    width: 20px;
}
.icon-share {
    background-position: -57px 0;
    height: 16px;
    width: 20px;
}
.icon-twitter {
    background-position: -80px 0;
    height: 15px;
    width: 20px;
}
