// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import url('/lib/font-awesome/4.3.0/css/font-awesome.min.css');
@import "core/_all";
@import "proj/_all";
@import "desktop/_all";
@import "mobile/_all";

.debug *:hover {
    outline-color: rgba(255,155,055,0.5);
    outline-offset: 0.5px;
    outline-style: solid;
    outline-width: 1px;
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@media print {
    body {
        background: none;
    }
    .noprint {
        display: none;
    }
    #Popup {
        display: block;
    }
    #Desktop {
        display: none;
    }
}
@import "_ada";
@import "_misc";
@import '_modal';
@import '_shares';
/* >^!^< */
