// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MOBILE / Nav */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    .nav {
        height: 100%;
        width: 100%;
    }
    header .home {
        display: none;
        float: right;
    }
    nav {
        @include whiteShadow;
        @include font-thick();
        font-size: 140%;
        font-weight: 300;
        line-height: 1;
        margin: $minim / -2;

        a {
            @include lightGrad();
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            color: $red0;
            display: inline-block;
            margin: 0.125em -1px;
            padding: 0.5em;
            position: relative;
            text-decoration: none;
            min-width: 100%;

            &.active {
                color: white;
            }
            &.hover, &:hover {
                @include grayGrad();
                @include thinShadow;
                color: white;
            }

            // CHEVRON
            &:after {
                content: ' › ';
                font-family: Arial;
                font-size: 200%;
                font-weight: 900;
                line-height: 0.5em;
                position: absolute;
                right: $hem;
                top: 0.5rem;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
