// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* MOBILE / Port */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile section.port {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    overflow: hidden;
    position: absolute;
    z-index: -1;

    .android & {
        overflow: scroll;
    }
    article {
        padding: $minim;
        overflow-x: hidden;
        overflow-y: scroll; /* has to be scroll, for momentum */
        -webkit-overflow-scrolling: touch;

        .Android & {
            overflow: scroll;
        }
        &:first-child {
            overflow-y: hidden;

            .Android & {
                overflow: scroll;
            }
        }
    }
    a.learn {
        @include font-thick();

        float: right;
        font-size: 12px;
        margin: 5px 9px;
    }
    .external {
        margin-left: 2px;
    }
    h3 img, p img:not(.external), img.fix {
        float: right;
        margin-left: 12px;
        max-width: 66%;
    }
    h2 {
        font-weight: 600;
        margin-top: 12px;
    }
    h3.chev {
        @include lightGrad();
    }
    .elim {
        display: none;
    }
    .banner {
        img {
            margin-left: -12px;
            max-width: 99%;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
