// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DESKTOP / Respond */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html.desktop {
    zoom: 1.0;
    @media (max-width: 950px) {
        zoom: 0.9;
    }
    @media (max-width: 850px) {
        zoom: 0.8;
    }
    @media (max-width: 750px) {
        zoom: 0.7;
    }
    @media (max-width: 650px) {
        zoom: 0.6;
    }
    @media (min-width: 1300px) {
        zoom: 1.05;
    }
    @media (min-width: 1500px) {
        zoom: 1.1;
    }
}
html {
    .cache {
        display: none;
    }
    .show {
        display: initial !important;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}
#Desktop .content {
    html.debug & .mini {
        background-color: $hilite !important;
    }
    html.debug & .elim {
        background-color: $dilite !important;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
